<h1>New Message</h1>
<form method="POST" action="/new">
    <label for="username"></label>
    <input type="text" name="username" value="Username"> 
    <label for="message"></label>
    <input type="text" name="message" value="Write Your Message Here"> 
    <button type="submit">Submit</button>
</form>